body{
    font-family: 'Trebuchet MS', 'Geneva', sans-serif;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    background-attachment: fixed;
    background-size: cover;
}

p::first-letter{ /*Primera letra de los párrafos*/
    font-size: 200%;
    font-weight: bold;
    color: #4c3803;
}

header{
    background-color: #b28306;
    color: #4c3803;
    text-align: center;
    border-radius: 20px;
    border-bottom: 1px solid;
    padding: 1rem; 
}

aside{
    background-color: #b28306;
    color: #4c3803;
    border-radius: 20px;
}

nav{
    display: flex;
    background-color: #ebcd7c;
    border-radius: 20px;
    padding: 5px 0px;
}

nav a{ /*Estilo para enlaces del menu*/
    flex: auto;
    text-align: center;
    background-color: #4c3803;
    color: #b28306;
    margin: 0 5px;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px 0px;
}

nav a:hover{
    outline: 1px solid white;
    color: white;
    text-decoration: none;
}

a{
    color: grey;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-widht:480px) {
    body{
        display: flex;
        flex-direction: column;
        max-width: 75rem;
        margin: auto;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        border-bottom: 0.5rem solid black;
    }
    nav, header{
        order: -1;
    }
    article{
        flex: 75%;
    }
    aside{
        flex: 25%;
    }
}